<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Mi app</display-name>
  <welcome-file-list>
    <welcome-file>principal.html</welcome-file>
    <welcome-file>principal.xhtml</welcome-file>
    <welcome-file>principal.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description>Este es un servlet para mostrarles un ejemplo inicial</description>
    <display-name>Ejemplo inicial</display-name>
    <servlet-name>servletazo</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.PrimerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletazo</servlet-name>
    <url-pattern>/ejemplo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemploDispatcherController</display-name>
    <servlet-name>EjemploDispatcherController</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.EjemploDispatcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemploDispatcherController</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
    <url-pattern>/requestdispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemploSesionesController</display-name>
    <servlet-name>EjemploSesionesController</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.EjemploSesionesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemploSesionesController</servlet-name>
    <url-pattern>/EjemploSesiones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemploCookie</display-name>
    <servlet-name>EjemploCookie</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.EjemploCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemploCookie</servlet-name>
    <url-pattern>/EjemploCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemploCookie2</display-name>
    <servlet-name>EjemploCookie2</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.EjemploCookie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemploCookie2</servlet-name>
    <url-pattern>/EjemploCookie2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>usu</param-name>
    <param-value>Ana</param-value>
  </context-param>
  <filter>
    <display-name>EjemploFiltro</display-name>
    <filter-name>EjemploFiltro</filter-name>
    <filter-class>com.pepe.p20240919.Filtros.EjemploFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EjemploFiltro</filter-name>
    <url-pattern>/filtros</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ParaEjemploFiltro</display-name>
    <servlet-name>ParaEjemploFiltro</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.ParaEjemploFiltro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParaEjemploFiltro</servlet-name>
    <url-pattern>/filtros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Verifica</display-name>
    <servlet-name>Login_Verifica</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.Login_Verifica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Verifica</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Verifica_logout</display-name>
    <servlet-name>Login_Verifica_logout</servlet-name>
    <servlet-class>com.pepe.p20240919.Controllers.Login_Verifica_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Verifica_logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>